workflow.json
{
  "name": "Weather Report Bot",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "city",
              "value": "={{'Bangkok'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "e70b5b84-73b6-410a-800b-93f0bf314a8b",
      "name": "Set City",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        352,
        752
      ]
    },
    {
      "parameters": {
        "functionCode": "\nconst now = new Date();\n\nconst temp = $json.main?.temp;\nconst humidity = $json.main?.humidity;\nconst weatherMain = $json.weather?.[0]?.main || 'Unknown';\nconst weatherDesc = $json.weather?.[0]?.description || '';\nconst wind = $json.wind?.speed || 0;\n\n// date key for dedupe (YYYY-MM-DD in local TZ approx)\nconst dateKey = now.toISOString().slice(0,10);\n\nreturn [{\n  city: $json.name || $node[\"Set City\"].json.city,\n  temp,\n  humidity,\n  weatherMain,\n  weatherDesc,\n  wind,\n  dateKey\n}];"
      },
      "id": "85e4055b-150f-430d-bf37-ec52f7d9dd4a",
      "name": "Normalize Data",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        784,
        752
      ]
    },
    {
      "parameters": {
        "functionCode": "const data = $json;\nconst store = this.getWorkflowStaticData('global');\nconst key = `${data.city}:${data.dateKey}`;\n\nif (store[key]) {\n  return [{ skip: true, reason: 'already_sent_today', ...data }];\n}\n\nstore[key] = true;\nreturn [{ skip: false, ...data }];"
      },
      "id": "850ad920-f79a-4516-bbcc-7240dd1599be",
      "name": "Dedupe (1/day/city)",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1008,
        752
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "be06af59-257f-46b2-92a5-b725672db681",
              "leftValue": "={{ $json.skip }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e78238ab-6597-4ddd-85bb-158d4034512c",
      "name": "If Skip?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1232,
        752
      ]
    },
    {
      "parameters": {
        "functionCode": "const { temp, humidity, weatherMain, wind } = $json;\n\n// 🌐 language selector\nconst lang = $json.lang || 'th';\n\n// helper translate\nconst t = (th, en) => lang === 'th' ? th : en;\n\n// 🌍 GLOBAL SEASON CLASSIFICATION\nlet season = 'unknown';\n\nif (['Rain','Drizzle','Thunderstorm'].includes(weatherMain)) {\n  season = 'rainy';\n} \nelse if (temp >= 30) {\n  season = 'summer';\n} \nelse if (temp >= 20) {\n  season = 'spring';\n} \nelse if (temp >= 10) {\n  season = 'autumn';\n} \nelse {\n  season = 'winter';\n}\n\n// 🎯 RULE ENGINE\nlet preparation = new Set();\nlet warnings = new Set();\nlet avoid = new Set();\n\n// 🌧️ RAINY\nif (season === 'rainy') {\n  preparation.add(t('ควรพกร่มหรือสวมเสื้อกันฝนเพื่อป้องกันการเปียกฝน','Carry an umbrella or wear a raincoat to stay dry'));\n  preparation.add(t('ควรสวมรองเท้าที่กันลื่นเพื่อลดความเสี่ยงในการลื่นล้ม','Wear non-slip shoes to reduce slipping risk'));\n  \n  warnings.add(t('ถนนอาจลื่นและทัศนวิสัยลดลงในขณะฝนตก','Roads may be slippery and visibility may be reduced'));\n  \n  avoid.add(t('หลีกเลี่ยงการเดินหรือขับรถผ่านพื้นที่น้ำท่วมขัง','Avoid walking or driving through flooded areas'));\n}\n\n// ☀️ SUMMER\nif (season === 'summer') {\n  preparation.add(t('ควรดื่มน้ำให้เพียงพอตลอดวันเพื่อป้องกันภาวะขาดน้ำ','Drink plenty of water to stay hydrated'));\n  \n  warnings.add(t('อุณหภูมิสูงอาจทำให้เกิดอาการอ่อนเพลียหรือขาดน้ำ','High temperature may cause fatigue or dehydration'));\n  \n  if (temp >= 35) {\n    warnings.add(t('มีความเสี่ยงเกิดโรคลมแดด','Risk of heatstroke'));\n    avoid.add(t('หลีกเลี่ยงกิจกรรมกลางแจ้งช่วงแดดจัด','Avoid outdoor activities during peak sunlight hours'));\n  }\n}\n\n// 🌱 SPRING\nif (season === 'spring') {\n  preparation.add(t('ควรสวมเสื้อผ้าที่ใส่สบายเหมาะกับอากาศ','Wear comfortable clothing for mild weather'));\n  warnings.add(t('สภาพอากาศอาจเปลี่ยนแปลงบ่อย','Weather may change frequently'));\n}\n\n// 🍂 AUTUMN\nif (season === 'autumn') {\n  preparation.add(t('ควรพกเสื้อคลุมหรือเสื้อแขนยาว','Bring a light jacket or long sleeves'));\n  warnings.add(t('อากาศเย็นอาจทำให้เป็นหวัดได้','Cool weather may increase risk of catching a cold'));\n}\n\n// ❄️ WINTER\nif (season === 'winter') {\n  preparation.add(t('ควรสวมเสื้อผ้าหนาเพื่อให้ร่างกายอบอุ่น','Wear warm clothing to stay warm'));\n  warnings.add(t('อากาศหนาวอาจส่งผลต่อสุขภาพ','Cold weather may affect health'));\n  \n  if (temp <= 0) {\n    warnings.add(t('อุณหภูมิต่ำมาก อาจเกิดน้ำแข็ง','Freezing conditions may occur'));\n    avoid.add(t('หลีกเลี่ยงการอยู่กลางแจ้งนานเกินไป','Avoid prolonged outdoor exposure'));\n  }\n}\n\n// 💧 HUMIDITY\nif (humidity >= 90) {\n  warnings.add(t('ความชื้นสูงมาก อาจทำให้หายใจลำบาก','Very high humidity may cause discomfort'));\n}\nelse if (humidity <= 30) {\n  warnings.add(t('ความชื้นต่ำ อาจทำให้ผิวแห้ง','Low humidity may cause dry skin'));\n}\n\n// 🌬 WIND\nif (wind > 15) {\n  warnings.add(t('ลมแรงมาก อาจเกิดอันตราย','Very strong winds may be dangerous'));\n  avoid.add(t('หลีกเลี่ยงกิจกรรมกลางแจ้ง','Avoid outdoor activities'));\n}\n\n// 🧠 DEFAULT FALLBACK\nconst defaultPrep = [\n  t('ควรตรวจสอบพยากรณ์อากาศก่อนออกจากบ้าน','Check the weather forecast before going out'),\n  t('ควรเตรียมอุปกรณ์ให้เหมาะกับสภาพอากาศ','Prepare appropriate gear for the weather'),\n  t('ควรดูแลสุขภาพและพักผ่อนให้เพียงพอ','Take care of your health and get enough rest')\n];\n\nconst defaultWarn = [\n  t('สภาพอากาศอาจเปลี่ยนแปลงได้ตลอดเวลา','Weather conditions may change unexpectedly'),\n  t('ควรระวังผลกระทบต่อสุขภาพ','Be aware of health impacts'),\n  t('ควรติดตามข่าวสารหรือประกาศเตือนภัย','Stay updated with weather alerts')\n];\n\nconst defaultAvoid = [\n  t('หลีกเลี่ยงการอยู่กลางแจ้งเป็นเวลานาน','Avoid prolonged outdoor exposure'),\n  t('หลีกเลี่ยงกิจกรรมที่เสี่ยง','Avoid risky activities'),\n  t('หลีกเลี่ยงพื้นที่ที่อาจเกิดอันตราย','Avoid potentially dangerous areas')\n];\n\n// helper เติมให้ครบ 3\nconst ensureMin = (set, defaults) => {\n  const arr = Array.from(set);\n  for (let i = 0; arr.length < 3 && i < defaults.length; i++) {\n    if (!arr.includes(defaults[i])) {\n      arr.push(defaults[i]);\n    }\n  }\n  return arr;\n};\n\n// 📦 RETURN\nreturn [{\n  ...$json,\n  lang,\n  season,\n  preparation: ensureMin(preparation, defaultPrep),\n  warnings: ensureMin(warnings, defaultWarn),\n  avoid: ensureMin(avoid, defaultAvoid)\n}];"
      },
      "id": "d5082e0e-0d0a-47ea-ac95-147a9c5216c5",
      "name": "Rule Engine",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1488,
        672
      ]
    },
    {
      "parameters": {
        "functionCode": "const d = $json;\n\n// helper format\nconst fmt = (arr) => (arr && arr.length ? arr.map(x => `- ${x}`).join('\\n') : '- ไม่มี');\n\n// 🌈 emoji ครบทุก season\nconst emojiMap = {\n  rainy: '🌧️',\n  summer: '🌞',\n  spring: '🌱',\n  autumn: '🍂',\n  winter: '❄️'\n};\n\nconst emoji = emojiMap[d.season] || '🌍';\n\n// 🧠 Insight summary (ให้เหมือน AI)\nlet summary = '';\n\nif (d.season === 'rainy') {\n  summary = 'สภาพอากาศมีฝนตก ควรเตรียมอุปกรณ์กันฝนและระวังการเดินทาง';\n} else if (d.season === 'summer') {\n  summary = 'อากาศร้อน ควรดูแลร่างกายและหลีกเลี่ยงแดดจัด';\n} else if (d.season === 'winter') {\n  summary = 'อากาศเย็น ควรรักษาความอบอุ่นของร่างกาย';\n} else if (d.season === 'spring') {\n  summary = 'อากาศกำลังสบาย แต่มีการเปลี่ยนแปลงได้ง่าย';\n} else if (d.season === 'autumn') {\n  summary = 'อากาศเริ่มเย็นลง ควรเตรียมเสื้อผ้าให้เหมาะสม';\n}\n\n// 💧 humidity label\nlet humidityText = '';\nif (d.humidity >= 90) {\n  humidityText = 'สูงมาก';\n} else if (d.humidity >= 80) {\n  humidityText = 'สูง';\n} else if (d.humidity <= 30) {\n  humidityText = 'ต่ำ';\n} else {\n  humidityText = 'ปกติ';\n}\n\n// 🌬 wind label\nlet windText = '';\nif (d.wind > 15) {\n  windText = 'ลมแรงมาก';\n} else if (d.wind > 10) {\n  windText = 'ลมแรง';\n} else {\n  windText = 'ลมปกติ';\n}\n\n// 📦 final content\nconst content = `${emoji} ${d.city}\n\n🌡 อุณหภูมิ: ${d.temp}°C\n🌤 สภาพอากาศ: ${d.weatherDesc}\n💧 ความชื้น: ${d.humidity}% (${humidityText})\n🌬 ลม: ${d.wind} m/s (${windText})\n\n🧠 ภาพรวม:\n${summary}\n\n🧳 การเตรียมตัว:\n${fmt(d.preparation)}\n\n⚠️ ข้อควรระวัง:\n${fmt(d.warnings)}\n\n🚫 สิ่งที่ควรหลีกเลี่ยง:\n${fmt(d.avoid)}\n=========================================================================================\n`;\n\n\nreturn [{ content }];"
      },
      "id": "a49def9f-919d-4f88-af40-a5ab3ec74e2e",
      "name": "Format Message",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        1712,
        672
      ]
    },
    {
      "parameters": {},
      "id": "2d5eeacb-29dc-472d-bbc7-80a4e37914c1",
      "name": "Noop (Skipped)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1440,
        848
      ]
    },
    {
      "parameters": {
        "cityName": "={{ $json.city }}",
        "language": "th"
      },
      "type": "n8n-nodes-base.openWeatherMap",
      "typeVersion": 1,
      "position": [
        576,
        752
      ],
      "id": "35788401-7502-4064-8eb3-f68091a49f70",
      "name": "OpenWeatherMap1",
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "maxTries": 5,
      "credentials": {
        "openWeatherMapApi": {
          "id": "nTKKAFfgnd168CX5",
          "name": "OpenWeatherMap account 5"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "guildId": {
          "__rl": true,
          "value": "1496413736083263548",
          "mode": "id"
        },
        "channelId": {
          "__rl": true,
          "value": "1496494230787461200",
          "mode": "id"
        },
        "content": "={{ $json.content }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1920,
        672
      ],
      "id": "48db8731-1463-4393-9660-a753518700c9",
      "name": "Send a message",
      "webhookId": "d951b574-95b2-44f3-b536-80d2cf334ddc",
      "credentials": {
        "discordOAuth2Api": {
          "id": "UQhTPi1JQH7hKP0n",
          "name": "Discord account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 5
            }
          ]
        }
      },
      "id": "1b191771-2b6e-43fb-ba32-5b6782fb1e61",
      "name": "trigger every morning",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        144,
        752
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Set City": {
      "main": [
        [
          {
            "node": "OpenWeatherMap1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Data": {
      "main": [
        [
          {
            "node": "Dedupe (1/day/city)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedupe (1/day/city)": {
      "main": [
        [
          {
            "node": "If Skip?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Skip?": {
      "main": [
        [
          {
            "node": "Rule Engine",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Noop (Skipped)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rule Engine": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenWeatherMap1": {
      "main": [
        [
          {
            "node": "Normalize Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "trigger every morning": {
      "main": [
        [
          {
            "node": "Set City",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "c76c2191-62a7-4424-b504-d2898685d5d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ea829289da80dc04c882bb4d915a25a56bfe09cb0c36203e657d3eea63182c89"
  },
  "id": "jF7VAX44URceW1HD",
  "tags": []
}